mat-sidenav-container {
  width: auto;
  min-height: 100vh;
  height: auto;
}

.nav-link-button {
  min-width: 100%;
  min-height: 100%;
}

mat-sidenav {
  width: fit-content;
}

mat-sidenav-content {
  padding: 8px;
}

.sidenav-item {
  margin: 2px 8px 2px 8px;
}
