<mat-grid-list cols="5" rowHeight="2:1" gutterSize="5px">
  <mat-grid-tile colspan="5" />
  <mat-grid-tile />
  <mat-grid-tile><a mat-fab extended routerLink="." class="nav-link-button">
    <mat-icon>home</mat-icon>
    Home
  </a></mat-grid-tile>
  <mat-grid-tile><a mat-fab extended routerLink="/users" class="nav-link-button">
    <mat-icon>person_search</mat-icon>
    Users
  </a></mat-grid-tile>
  <mat-grid-tile><a mat-fab extended routerLink="/users" class="nav-link-button">
    <mat-icon>favorite</mat-icon>
    Accounts
  </a></mat-grid-tile>
  <mat-grid-tile />
</mat-grid-list>
