# Default ignored files
/shelf/
/workspace.xml
/dataSources/e611d914-d92b-4635-85ec-fae3c869aab6/storage_v2/_src_/database/MYDB.KlckAA/schema/INFORMATION_SCHEMA.NBgcMw.meta
/dataSources/e611d914-d92b-4635-85ec-fae3c869aab6/storage_v2/_src_/database/MYDB.KlckAA/schema/PUBLIC.aaZQjQ.meta
/dataSources/e611d914-d92b-4635-85ec-fae3c869aab6/storage_v2/_src_/database/MYDB.KlckAA/schema/SPRINGDEMO.cB0cbg.meta
/dataSources/e611d914-d92b-4635-85ec-fae3c869aab6/storage_v2/_src_/database/MYDB.KlckAA.meta
/dataSources/e611d914-d92b-4635-85ec-fae3c869aab6.xml
/dataSources.local.xml
/sonarlint.xml
/.name
